<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Subject</th>
      <th scope="col">From</th>
      <th *ngIf="isShowInvoiceTo" scope="col">To</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let invoiceData of invoiceDataList; index as i">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{ invoiceData?.date }}</td>
        <td>{{ invoiceData?.subject }}</td>
        <td>{{ invoiceData?.invoiceFrom }}</td>
        <td *ngIf="isShowInvoiceTo">{{ invoiceData?.invoiceTo }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>