/* @import "~bootstrap/dist/css/bootstrap.css"; */

/* * {
    background-color: black;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: aliceblue;
    color: black;
} */